{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <!-- El uso de 'polls:detail' requiere haber asignado
        el correcto app_name en urls.py, a través de variable app_name=nombre_app
        -->
        <li><a href="{% url 'polls:detail' question.id %}">
        {{question.question_text}}
        </a></li>
        <!-- HARDCODED:
        <li><a href="/polls/{{ question.id }}/">{{question.question_text }}</a></li>
        -->
    {% endfor %}
    </ul>

{% else %}
    <p>No polls are available.</p>
{% endif %}